.hexagon {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #64C7CC;
  margin: 17.32px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 42.43px;
  height: 42.43px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.7868px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hexagon:before {
  top: -21.2132px;
}

.hexagon:after {
  bottom: -21.2132px;
}

/* cover up extra shadows */
.hexagon span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width:60px;
  height:34.6410px;
  z-index: 2;
  background: inherit;
}

.hexagon .hexagon-icon {
  text-align: center;
  line-height: 45px;
}

